* {
  font-family: sans-serif;
  margin: 0;
}

header {
  padding: 16px 3% 16px 3%;
  background-color: #36454f;
  color: white;
  letter-spacing: 2px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-direction: row;
}
nav button {
  margin-left: 16px;
  background-color: inherit;
  color: white;
  border: none;
}

main {
  height: 100%;
  width: 99vw;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.loginPage {
  width: 50%;
  max-width: 680px;
}

.loginPage input {
  margin-bottom: 16px;
  width: 100%;
}

.loginPage h2 {
  text-align: center;
  margin-bottom: 16px;
}

.browsePage {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.browsePage img {
  margin: 8px;
  max-height: 600px;
  max-width: 400px;
}
.movieDetailsPage {
  margin: 0 3% 0 3%;
}

.movieDetailsPage p,
.movieDetailsPage input,
.movieDetailsPage h1,
.movieDetailsPage h2 {
  margin-bottom: 1rem;
}

.movieDetails {
  display: flex;
  flex-direction: row;
  margin: 1rem 0 1rem 0;
}

.movieDetails img {
  max-height: 600px;
  max-width: 400px;
  margin-right: 16px;
}

.primaryButton {
  padding: 8px;
  background-color: #0062cc;
  color: white;
  border-color: #0062cc;
  border-radius: 4px;
}

.highlight {
  outline: -webkit-focus-ring-color auto 1px;
}
